.box .inner {
  background-color: #494299;
  border-radius: 0.25rem;
  text-align: left;
  padding: 3% 3% 3% 3%;
  margin: 3%;
}

.align-left {
  text-align: left;
}

.margins {
  margin: 0 3% 0 3%;
}

.text {
  text-align: center;
  font-size: 1.5vw;
  color: black;
  /*color: #494299;*/
}

i {
  color: springgreen;
}

.pitch {
  position: relative;
  background-image: url("/assets/images/pitch.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 100%;
}

.pointer {
  cursor: pointer;
}



