<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-tabset>
        <nb-tab tabTitle="Skład">
          <div *ngIf="team; else setUpTeam" class="container-fluid">
            <div class="row">
              <div class="col-md-8 box">
                <div class="inner">
                  <p>Nazwa drużyny: <b>{{team.name}}</b></p>
                  <div class="pitch">
                    <player-component *ngFor="let player of firstSquadPlayers; let i=index" [teamPlayer]="player"
                                      [accuratePosition]="accuratePositions[i]"
                                      (removePlayer)="removePlayerFromFirstSquad($event)"
                                      (addPlayer)="selectPlayerToAdd($event)"
                                      (substitutePlayer)="selectPlayerToSubstituteIn($event)"></player-component>
                  </div>
                </div>
              </div>

              <div class="col-md-4 box">
                <div class="inner" style="text-align: center">
                  <p>Ławka rezerwowych</p>
                </div>

                <div class="inner">
                  <b>Bramkarze:</b>
                  <div *ngFor="let teamPlayer of teamPlayers | positionFilter:'GOALKEEPER':false"
                       [class.pointer]="!addIconsHidden[0]"
                       (click)="!addIconsHidden[0] && addPlayerToFirstSquad(teamPlayer.id, tempAccuratePosition)">
                       <!--(click)="!substitutionIconsHidden[0] && substitutePlayers(teamPlayer.id)">-->
                    <div>
                      <i [hidden]="addIconsHidden[0]" class="fa fa-plus" aria-hidden="true"></i>
                      <div style="display: inline;">{{teamPlayer.player.name}} {{teamPlayer.player.surname}}</div>
                    </div>
                    <!--<div>-->
                      <!--<i [hidden]="substitutionIconsHidden[0]" class="fa fa-refresh" aria-hidden="true"></i>-->
                      <!--<div style="display: inline;">{{teamPlayer.player.name}} {{teamPlayer.player.surname}}</div>-->
                    <!--</div>-->


                  </div>
                </div>
                <div class="inner">
                  <b>Obrońcy:</b>
                  <div *ngFor="let teamPlayer of teamPlayers | positionFilter:'DEFENDER':false"
                       [class.pointer]="!addIconsHidden[1]"
                       (click)="addPlayerToFirstSquad(teamPlayer.id, tempAccuratePosition)">
                    <i [hidden]="addIconsHidden[1]" class="fa fa-plus icons" aria-hidden="true"></i>
                    <!--<i [hidden]="substitutionIconsHidden[1]" class="fa fa-refresh" aria-hidden="true"></i>-->
                    <p style="display: inline;">{{teamPlayer.player.name}} {{teamPlayer.player.surname}}</p>
                  </div>
                </div>
                <div class="inner">
                  <b>Pomocnicy:</b>
                  <div *ngFor="let teamPlayer of teamPlayers | positionFilter:'MIDFIELDER':false"
                       [class.pointer]="!addIconsHidden[2]"
                       (click)="addPlayerToFirstSquad(teamPlayer.id, tempAccuratePosition)">
                    <i [hidden]="addIconsHidden[2]" class="fa fa-plus icons" aria-hidden="true"></i>
                    <!--<i [hidden]="substitutionIconsHidden[2]" class="fa fa-refresh" aria-hidden="true"></i>-->
                    <div style="display: inline;"> {{teamPlayer.player.name}} {{teamPlayer.player.surname}}</div>
                  </div>
                </div>
                <div class="inner">
                  <b>Napastnicy:</b>
                  <div *ngFor="let teamPlayer of teamPlayers | positionFilter:'FORWARD':false"
                       [class.pointer]="!addIconsHidden[3]"
                       (click)="addPlayerToFirstSquad(teamPlayer.id, tempAccuratePosition)">
                    <i [hidden]="addIconsHidden[3]" class="fa fa-plus icons" aria-hidden="true"></i>
                    <!--<i [hidden]="substitutionIconsHidden[3]" class="fa fa-refresh" aria-hidden="true"></i>-->
                    <p style="display: inline;">{{teamPlayer.player.name}} {{teamPlayer.player.surname}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ng-template #setUpTeam>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-9">
                  <p>Nie masz jeszcze drużyny. Kliknij przycisk aby skompletować zespół i dołączyć do rywalizacji z
                    innymi
                    użytkownikami!</p>
                </div>
                <div class="col-md-3 text-right">
                  <button class="btn btn-hero-primary btn-demo" (click)="openTeamCreationModal()">Załóż drużynę
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
        </nb-tab>
        <nb-tab tabTitle="Transfery">
          <span>Content #2</span>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>

